In [ ]:
import pandas as pd

# Read the data into a DataFrame
data = pd.read_csv("/content/sample_data/bc_trip259172515_230215.csv")

print(data)

     EVENT_NO_TRIP  EVENT_NO_STOP            OPD_DATE  VEHICLE_ID  METERS  \
0        259172515      259172517  15FEB2023:00:00:00        4223      40
1        259172515      259172517  15FEB2023:00:00:00        4223      48
2        259172515      259172517  15FEB2023:00:00:00        4223      57
3        259172515      259172517  15FEB2023:00:00:00        4223      73
4        259172515      259172517  15FEB2023:00:00:00        4223     112
..             ...            ...                 ...         ...     ...
156      259172515      259172530  15FEB2023:00:00:00        4223    5834
157      259172515      259172531  15FEB2023:00:00:00        4223    5838
158      259172515      259172531  15FEB2023:00:00:00        4223    5858
159      259172515      259172531  15FEB2023:00:00:00        4223    5889
160      259172515      259172531  15FEB2023:00:00:00        4223    5918

     ACT_TIME  GPS_LONGITUDE  GPS_LATITUDE  GPS_SATELLITES  GPS_HDOP
0       20469    -122.648137     45.493082              12       0.7
1       20474    -122.648240     45.493070              12       0.8
2       20479    -122.648352     45.493123              12       0.8
3       20484    -122.648385     45.493262              12       0.7
4       20489    -122.648347     45.493582              12       0.8
..        ...            ...           ...             ...       ...
156     21389    -122.677057     45.528040              11       0.8
157     21424    -122.677003     45.528037               6       2.0
158     21429    -122.676765     45.528043               7       1.1
159     21434    -122.676370     45.528047              10       1.1
160     21439    -122.675990     45.528065              11       0.8

[161 rows x 10 columns]

In [ ]:
import pandas as pd

# Read the data into a DataFrame
data = pd.read_csv("/content/sample_data/bc_trip259172515_230215.csv")

# Drop unnecessary columns using drop() method
filtered_data = data.drop(columns=['EVENT_NO_STOP', 'GPS_SATELLITES', 'GPS_HDOP'])

print(filtered_data)

     EVENT_NO_TRIP            OPD_DATE  VEHICLE_ID  METERS  ACT_TIME  \
0        259172515  15FEB2023:00:00:00        4223      40     20469
1        259172515  15FEB2023:00:00:00        4223      48     20474
2        259172515  15FEB2023:00:00:00        4223      57     20479
3        259172515  15FEB2023:00:00:00        4223      73     20484
4        259172515  15FEB2023:00:00:00        4223     112     20489
..             ...                 ...         ...     ...       ...
156      259172515  15FEB2023:00:00:00        4223    5834     21389
157      259172515  15FEB2023:00:00:00        4223    5838     21424
158      259172515  15FEB2023:00:00:00        4223    5858     21429
159      259172515  15FEB2023:00:00:00        4223    5889     21434
160      259172515  15FEB2023:00:00:00        4223    5918     21439

     GPS_LONGITUDE  GPS_LATITUDE
0      -122.648137     45.493082
1      -122.648240     45.493070
2      -122.648352     45.493123
3      -122.648385     45.493262
4      -122.648347     45.493582
..             ...           ...
156    -122.677057     45.528040
157    -122.677003     45.528037
158    -122.676765     45.528043
159    -122.676370     45.528047
160    -122.675990     45.528065

[161 rows x 7 columns]

In [ ]:
# Read the data into a DataFrame and filter columns using usecols parameter
filtered_data = pd.read_csv("/content/sample_data/bc_trip259172515_230215.csv", usecols=lambda column: column not in ['EVENT_NO_STOP', 'GPS_SATELLITES', 'GPS_HDOP'])

print(filtered_data)

     EVENT_NO_TRIP            OPD_DATE  VEHICLE_ID  METERS  ACT_TIME  \
0        259172515  15FEB2023:00:00:00        4223      40     20469
1        259172515  15FEB2023:00:00:00        4223      48     20474
2        259172515  15FEB2023:00:00:00        4223      57     20479
3        259172515  15FEB2023:00:00:00        4223      73     20484
4        259172515  15FEB2023:00:00:00        4223     112     20489
..             ...                 ...         ...     ...       ...
156      259172515  15FEB2023:00:00:00        4223    5834     21389
157      259172515  15FEB2023:00:00:00        4223    5838     21424
158      259172515  15FEB2023:00:00:00        4223    5858     21429
159      259172515  15FEB2023:00:00:00        4223    5889     21434
160      259172515  15FEB2023:00:00:00        4223    5918     21439

     GPS_LONGITUDE  GPS_LATITUDE
0      -122.648137     45.493082
1      -122.648240     45.493070
2      -122.648352     45.493123
3      -122.648385     45.493262
4      -122.648347     45.493582
..             ...           ...
156    -122.677057     45.528040
157    -122.677003     45.528037
158    -122.676765     45.528043
159    -122.676370     45.528047
160    -122.675990     45.528065

[161 rows x 7 columns]

**Decoding**

In [ ]:
from datetime import datetime, timedelta


def decode_timestamp(row):
  # Create datetime object from OPD_DATE with correct format
  date_time = pd.to_datetime(row['OPD_DATE'], format='%d%b%Y:%H:%M:%S')

  # Create timedelta object from ACT_TIME (seconds since midnight)
  time_delta = pd.Timedelta(seconds=row['ACT_TIME'])

  # Combine date and time
  timestamp = date_time + time_delta
  return timestamp


# Apply the function to create a new 'TIMESTAMP' column
filtered_data['TIMESTAMP'] = filtered_data.apply(decode_timestamp, axis=1)
print(filtered_data)

     EVENT_NO_TRIP            OPD_DATE  VEHICLE_ID  METERS  ACT_TIME  \
0        259172515  15FEB2023:00:00:00        4223      40     20469
1        259172515  15FEB2023:00:00:00        4223      48     20474
2        259172515  15FEB2023:00:00:00        4223      57     20479
3        259172515  15FEB2023:00:00:00        4223      73     20484
4        259172515  15FEB2023:00:00:00        4223     112     20489
..             ...                 ...         ...     ...       ...
156      259172515  15FEB2023:00:00:00        4223    5834     21389
157      259172515  15FEB2023:00:00:00        4223    5838     21424
158      259172515  15FEB2023:00:00:00        4223    5858     21429
159      259172515  15FEB2023:00:00:00        4223    5889     21434
160      259172515  15FEB2023:00:00:00        4223    5918     21439

     GPS_LONGITUDE  GPS_LATITUDE           TIMESTAMP
0      -122.648137     45.493082 2023-02-15 05:41:09
1      -122.648240     45.493070 2023-02-15 05:41:14
2      -122.648352     45.493123 2023-02-15 05:41:19
3      -122.648385     45.493262 2023-02-15 05:41:24
4      -122.648347     45.493582 2023-02-15 05:41:29
..             ...           ...                 ...
156    -122.677057     45.528040 2023-02-15 05:56:29
157    -122.677003     45.528037 2023-02-15 05:57:04
158    -122.676765     45.528043 2023-02-15 05:57:09
159    -122.676370     45.528047 2023-02-15 05:57:14
160    -122.675990     45.528065 2023-02-15 05:57:19

[161 rows x 8 columns]

**More Filtering**

In [ ]:
# Deleting the OPD_DATE and ACT_TIME columns
filtered_data.drop(columns=['OPD_DATE', 'ACT_TIME'], inplace=True)

print(filtered_data)

     EVENT_NO_TRIP  VEHICLE_ID  METERS  GPS_LONGITUDE  GPS_LATITUDE  \
0        259172515        4223      40    -122.648137     45.493082
1        259172515        4223      48    -122.648240     45.493070
2        259172515        4223      57    -122.648352     45.493123
3        259172515        4223      73    -122.648385     45.493262
4        259172515        4223     112    -122.648347     45.493582
..             ...         ...     ...            ...           ...
156      259172515        4223    5834    -122.677057     45.528040
157      259172515        4223    5838    -122.677003     45.528037
158      259172515        4223    5858    -122.676765     45.528043
159      259172515        4223    5889    -122.676370     45.528047
160      259172515        4223    5918    -122.675990     45.528065

              TIMESTAMP
0   2023-02-15 05:41:09
1   2023-02-15 05:41:14
2   2023-02-15 05:41:19
3   2023-02-15 05:41:24
4   2023-02-15 05:41:29
..                  ...
156 2023-02-15 05:56:29
157 2023-02-15 05:57:04
158 2023-02-15 05:57:09
159 2023-02-15 05:57:14
160 2023-02-15 05:57:19

[161 rows x 6 columns]

**Enhance**

In [ ]:
# Check the data types of 'dMETERS' and 'dTIMESTAMP' columns
print(filtered_data.dtypes)

EVENT_NO_TRIP             int64
VEHICLE_ID                int64
METERS                    int64
GPS_LONGITUDE           float64
GPS_LATITUDE            float64
TIMESTAMP        datetime64[ns]
dtype: object

In [ ]:
# Calculate difference in meters and timestamps between consecutive rows
filtered_data['dMETERS'] = filtered_data['METERS'].diff()
filtered_data['dTIMESTAMP'] = filtered_data['TIMESTAMP'].diff()

# Calculate speed (meters per second) using lambda function
filtered_data['SPEED'] = filtered_data.apply(lambda row: row['dMETERS'] / row['dTIMESTAMP'].total_seconds() if pd.notnull(row['dTIMESTAMP']) and row['dTIMESTAMP'] != 0 else 0, axis=1)

# Drop temporary columns
df = filtered_data.drop(columns=['dMETERS', 'dTIMESTAMP'])

# Get statistics of speed
speed_stats = df['SPEED'].describe()
print(speed_stats)

count    161.000000
mean       7.182316
std        4.443425
min        0.000000
25%        3.800000
50%        6.400000
75%       10.800000
max       17.400000
Name: SPEED, dtype: float64

In [ ]:
print(f"Minimum Speed:{filtered_data['SPEED'].min()}")
print(f"Minimum Speed:{filtered_data['SPEED'].max()}")
print(f"Avg Speed:{filtered_data['SPEED'].mean()}")

Minimum Speed:0.0
Minimum Speed:17.4
Avg Speed:7.182316337906399

**Larger Dataset:**

In [8]:
import pandas as pd

# Function to decode timestamp
def decode_timestamp(row):
  date_time = pd.to_datetime(row['OPD_DATE'], format='%d%b%Y:%H:%M:%S')
  time_delta = pd.Timedelta(seconds=row['ACT_TIME'])
  return date_time + time_delta

# Function to process each trip
def process_trip(data):
  # Filter unnecessary columns
  data = data.drop(columns=['EVENT_NO_STOP', 'GPS_SATELLITES', 'GPS_HDOP'])

  # Decode timestamps
  data['TIMESTAMP'] = data.apply(decode_timestamp, axis=1)

  # Filter out OPD_DATE and ACT_TIME
  data = data.drop(columns=['OPD_DATE', 'ACT_TIME'])

  # Calculate speed
  data['dMETERS'] = data['METERS'].diff()
  data['dTIMESTAMP'] = data['TIMESTAMP'].diff()
  data['SPEED'] = data['dMETERS'] / (data['dTIMESTAMP'] / pd.Timedelta(seconds=1))

  # Drop temporary columns
  data = data.drop(columns=['dMETERS', 'dTIMESTAMP'])

  # Get speed statistics including median speed (handle potential NaT)
  speed_stats = data['SPEED'].describe()
  median_speed = speed_stats.get('50%', pd.NaT)  # Use get to handle potential missing key

  # Return processed data and speed statistics
  return data, speed_stats, median_speed

# Read the larger dataset
data = pd.read_csv("/content/sample_data/bc_veh4223_230215.csv")

# Find unique trip IDs
unique_trips = data['EVENT_NO_TRIP'].unique()

# Initialize variables
max_speed = 0
max_speed_trip = None
total_median_speed = []  # Initialize to accumulate median speed

# Process each trip data separately
for trip in unique_trips:
  # Filter data for the current trip
  trip_data = data[data['EVENT_NO_TRIP'] == trip]

  # Process trip data and get statistics including median speed
  trip_processed, trip_stats, trip_median_speed = process_trip(trip_data)

  # Update overall maximum speed details (handle potential NaT)
  if not pd.isna(trip_stats['max']) and trip_stats['max'] > max_speed:
    max_speed = trip_stats['max']
    max_speed_trip = trip
    max_speed_time = trip_processed[trip_processed['SPEED'] == max_speed]['TIMESTAMP'].iloc[0]  # Find timestamp for max speed

  # Accumulate non-missing median speed across trips
  if not pd.isna(trip_median_speed):
    total_median_speed.append(trip_median_speed)

# Calculate median speed, handling missing values
total_median_speed = pd.Series(total_median_speed)
median_median_speed = total_median_speed.median() if not total_median_speed.empty else None  # Check for empty series

# Print results
print("Maximum speed for vehicle #4223:", max_speed, "meters per second")
print("Trip ID where maximum speed occurred:", max_speed_trip)
print("Date and time of maximum speed:", max_speed_time.strftime('%Y-%m-%d %H:%M:%S') if not pd.isna(max_speed_time) else "No maximum speed detected")
print("Median speed for vehicle #4223 on February 15, 2023:", median_median_speed if median_median_speed is not None else "No median speed data available")

Maximum speed for vehicle #4223: 17.4 meters per second
Trip ID where maximum speed occurred: 259172515
Date and time of maximum speed: 2023-02-15 05:44:49
Median speed for vehicle #4223 on February 15, 2023: 7.300000000000001

**Full Data Set:**

In [22]:
import pandas as pd

df_full = pd.read_csv("/content/sample_data/bc_230215.csv")

# Filtering
columns_to_drop = ['EVENT_NO_STOP', 'GPS_SATELLITES', 'GPS_HDOP']
df_full.drop(columns=columns_to_drop, inplace=True)

# Decoding
opd_dates = pd.to_datetime(df_full['OPD_DATE'], format='%d%b%Y:%H:%M:%S')
act_times = pd.to_timedelta(df_full['ACT_TIME'], unit='s')
df_full['TIMESTAMP'] = opd_dates + act_times

# Speed Calculations
df_full['dMETERS'] = df_full.groupby(['VEHICLE_ID', 'EVENT_NO_TRIP'])['METERS'].diff()
df_full['dTIMESTAMP'] = df_full.groupby(['VEHICLE_ID', 'EVENT_NO_TRIP'])['TIMESTAMP'].diff()
df_full['SPEED'] = df_full['dMETERS'] / df_full['dTIMESTAMP'].dt.total_seconds()

max_speed = df_full['SPEED'].max()
median_speed = df_full['SPEED'].median()

max_speed_row = df_full.loc[df_full['SPEED'].idxmax()]
max_speed_vehicle = max_speed_row['VEHICLE_ID']
max_speed_trip = max_speed_row['EVENT_NO_TRIP']
max_speed_timestamp = max_speed_row['TIMESTAMP']

# Fastest Mean Speed
mean_speeds = df_full.groupby(['VEHICLE_ID', 'EVENT_NO_TRIP'])['SPEED'].mean().reset_index()
fastest_mean_speed = mean_speeds['SPEED'].max()
fastest_index = mean_speeds['SPEED'].idxmax()
fastest_vehicle = mean_speeds.loc[fastest_index, 'VEHICLE_ID']
fastest_trip = mean_speeds.loc[fastest_index, 'EVENT_NO_TRIP']

print("Maximum speed for any vehicle on February 15, 2023:", max_speed)
#print("Median speed for all vehicles on February 15, 2023:", median_speed)
print("Maximum speed occurred for vehicle", max_speed_vehicle, "on trip ->", max_speed_trip, "at:>", max_speed_timestamp)
print("Fastest mean speed for any single trip on February 15, 2023 is: ", fastest_mean_speed, "for vehicle->", fastest_vehicle, "on trip->", fastest_trip)

Maximum speed for any vehicle on February 15, 2023: 200.33333333333334
Maximum speed occurred for vehicle 3244 on trip -> 258750515 at:> 2023-02-15 18:05:38
Fastest mean speed for any single trip on February 15, 2023 is:  22.110692666415368 for vehicle-> 3419 on trip-> 258614729